ul {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  font-family: "Press Start 2P", cursive;
  background-color: #d1655bc2;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
}

.user-stats h1 {
  color: #329694;
  font-size: xx-large;
  -webkit-text-stroke: 0.5px rgba($color: #000000, $alpha: 0.5);
}

.user-stats div {
  margin: 10px 0;
}

span {
  color: black;
  font-weight: bolder;
}

.data {
  font-size: medium;
}
